*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#books {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 2px solid black;
}

.booksLi {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

#createBook {
  gap: 0;
}

.input {
  margin: 0;
  padding: 0;
}

#addButton {
  margin: 0 1rem;
  justify-self: flex-end !important;
  align-self: flex-end;
}
